@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@theme {
  --color-primary-50: #FEF3F6;
  --color-primary-100: #FFE3EC;
  --color-primary-200: #fbcfe8;
  --color-primary-300: #ff80af;
  --color-primary-400: #f472b6;
  --color-primary-500: #FE5A97;
  --color-primary-600: #FE2E7F;
  --color-primary-700: #be185d;
  --color-primary-800: #9d174d;
  --color-primary-900: #831843;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
